
<ion-view view-title="Overview" class="animate-ripple">
   <!--ion-header-bar id="sub-header" on-drag="dragHead($event)" class="bar-subheader item-input-inset action_area">
       <i class="ion-ios-person-outline action-bar-user-icon"></i>
       <div class="action-button-wrapper">
           <div class="custom-button button-assertive" on-touch="scanBarcode()">Scan</div>
           <a href="#/app/complain"><div class="custom-button button-assertive">Complain</div></a>
       </div>
      

    </ion-header-bar-->
    
    <ion-content   class="animate ripple" id="sagar">
        <div class="action_area row">
            <div class="action-button-wrapper">
                <!--h1 class="button-Home">
                  <div >
                    <div class="shadow"></div>
                    <div class="design"  on-touch="scanBarcode()">
                      <div class="spare1"></div>
                      <div class="spare2"><div></div></div>
                      <div class="spare3"></div>
                      <div class="text">Scan</div>
                    </div>
                    <div class="mid-bar">
                    </div>
                    <div class="shadow"></div>
                    <div class="illustration">
                      <div class="spare1"></div>
                      <div class="spare2"><div></div></div>
                      <div class="spare3"></div>
                        <a href="#/app/complain"><div class="text">Complain</div></a>
                    </div>
                  </div>
                </h1-->
                
           <!--div><div class="custom-button button-assertive" on-touch="scanBarcode()">Scan</div>
           <a href="#/app/complain"><div class="custom-button button-assertive">Complain</div></a></div-->
       </div>
    </div>
     <div class="row ">
                    <div class="col col-50">
                        <div class="statsDiv" >
                    <div class="statsCount">₹ 600</div>
                    <div class="statsLable">Today's Reporting</div>
                    <div id="sparkline" class="sparkline">&nbsp;</div>
                            </div>
                </div>
                <div  class="col col-50">
                    <div class="statsDiv" >
                    <div class="statsCount">₹ 10,400</div>
                    <div class="statsLable">This month Reporting</div>
                    <div id="sparklineOne" class="sparkline">&nbsp;</div>
                        </div>
                </div>
        </div>
        <div class="row">
                <div  class="col col-50">
                    <div class="statsDiv" >
                    <div class="statsCount">1040</div>
                    <div class="statsLable">Points Earned</div>
                    <div id="sparklineTwo" class="sparkline">&nbsp;</div>
                        </div>
                </div>
                <div  class="col col-50">
                    <div class="statsDiv" >
                    <div class="statsCount">6</div>
                    <div class="statsLable">complains</div>
                    <div id="sparklineThree" class="sparkline">&nbsp;</div>
                        </div>
                </div>
                </div>
        </div>
        
				<!--div id="uc-container1" class="uc-container" style="">
					<div class="row uc-initial-content">
						
                        <div class="statsWrapper">
                        <div class="row clickme">
                            <div class="col col-30 paymentsIconWrapper"><i class="ion-stats-bars"></i></div>
                            <div class="col col-30 pointsIconWrapper"><i class="ion-card"></i></div>
                            <div class="col col-30 complainsIconWrapper"><i class="ion-ios-compose-outline"></i></div>                           
                        </div>
                         <div class="row clickme" >
                            <div class="col col-30">19</div>
                            <div class="col col-30">4</div>
                            <div class="col col-30">700</div>                           
                        </div>
                        <div class="row clickme statsTitles" >
                            <div class="col col-30">Payments</div>
                            <div class="col col-30">Points</div>
                            <div class="col col-30">Complains</div>
                        </div>
                       </div>
					</div>
					<div class="uc-final-content">
						<div class="scrollwrap">
							<h3>Dear Allen,</h3> Barbara</p>
						</div>
						<span class="close">x</span>
					</div>
				</div>
            
                <div id="uc-container2" class="uc-container" style="display:none;">
					<div class="uc-initial-content">
						asdasd
					</div>
					<div class="uc-final-content">
						<div class="scrollwrap">
							<h3>Dear Allen,</h3>
                            <p>I just wanted to let you know that you left the garage</p>
						</div>
					</div>
				</div-->
        
       
    </ion-content>
</ion-view>
