<div class="note note-danger note-bordered">
		<h3>Warning <span class="close" data-close="note"></span></h3>
		<p>
			Out of 10 merchants audited by you last month,new complain has been launched against 3.
			
		</p>
		<span class="label label-danger">NOTE:</span> More reopens in complain wil lead to a serious action.</span>
		</p>
	</div>


<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN TODO SIDEBAR -->
		<div class="todo-ui margin-top-10">
			<div class="todo-sidebar">
				<div class="portlet light">
					<div class="portlet-title">
						<div class="caption" data-toggle="collapse" data-target=".todo-project-list-content">
							<span class="caption-subject font-green-sharp bold uppercase">Stores </span>
							<span class="caption-helper visible-sm-inline-block visible-xs-inline-block">click to view project list</span>
						</div>
						<div class="actions">
							<div class="btn-group">
								<a class="btn green-haze btn-circle btn-sm todo-projects-config" href="#" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
								<i class="icon-settings"></i> &nbsp; <i class="fa fa-angle-down"></i>
								</a>
								<ul class="dropdown-menu pull-right">
									<li>
										<a href="#">
										<i class="i"></i> New Project </a>
									</li>
									<li class="divider">
									</li>
									<li>
										<a href="#">
										Pending <span class="badge badge-danger">
										4 </span>
										</a>
									</li>
									<li>
										<a href="#">
										Completed <span class="badge badge-success">
										12 </span>
										</a>
									</li>
									<li>
										<a href="#">
										Overdue <span class="badge badge-warning">
										9 </span>
										</a>
									</li>
									<li class="divider">
									</li>
									<li>
										<a href="#">
										<i class="i"></i> Stores </a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="portlet-body todo-project-list-content">
						<div class="todo-project-list">
							<ul class="nav nav-pills nav-stacked">
								<li>
									<a href="#">
									<span class="badge badge-success"> 1 </span> Raikar Jewweleers </a>
								</li>
								<li>
									<a href="#">
									<span class="badge badge-success"> 1 </span> U Raikar </a>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- END TODO SIDEBAR -->
			<!-- BEGIN TODO CONTENT -->
			<div class="todo-content">
				<div class="portlet light">
					<!-- PROJECT HEAD -->
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-sharp hide"></i>
							<span class="caption-helper">LOCATION:</span> &nbsp; <span class="caption-subject font-green-sharp bold uppercase">Margao , Goa</span>
						</div>
						<div class="actions">
							<div class="btn-group">
								<a class="btn green-haze btn-circle btn-sm" href="#" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
								MANAGE <i class="fa fa-angle-down"></i>
								</a>
								<ul class="dropdown-menu pull-right">
									<!--li>
										<a href="#">
										<i class="i"></i> New Task </a>
									</li>
									<li class="divider"-->
									</li>
									<li>
										<a href="#">
										Pending <span class="badge badge-danger">
										{{pendingCount}} </span>
										</a>
									</li>
									<li>
										<a href="#">
										Completed <span class="badge badge-success">
										{{completedCount}} </span>
										</a>
									</li>
									<li>
										<a href="#">
										Overdue <span class="badge badge-warning">
										{{overDueCount}} </span>
										</a>
									</li>
									<li class="divider">
									</li>
									<li>
										<a href="#">
										<i class="i"></i> Delete Project </a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- end PROJECT HEAD -->
					<div class="portlet-body">
						<div class="row">
							<div class="col-md-5 col-sm-4">
								
									<div class="todo-tasklist">
                                        <div class="todo-tasklist-item"  ng-repeat="complain in complains">
											<img class="todo-userpic pull-left" src="./assets/admin/layout/img/avatar.png" width="27px" height="27px">
											<div class="todo-tasklist-item-title">
												Merchant : {{complain.merchantName}}
											</div>
											<div class="todo-tasklist-item-text">
												Desc : {{complain.complainDesc}}
											</div>
                                            <div class="todo-tasklist-item-text">
												Purchase : {{complain.transactionItem}}
											</div>
                                            <div class="todo-tasklist-item-text">
												Amount : {{complain.transactionAmount}}
											</div>
                                            <div class="todo-tasklist-item-text">
												PAN : {{complain.userP}}
											</div>
											<div class="todo-tasklist-controls pull-left">
												<span class="todo-tasklist-date"><i class="fa fa-calendar"></i> 21 Sep 2014 </span>
												<span class="todo-tasklist-badge badge badge-roundless">Urgent</span>
											</div>
										</div>
                                        
                                        
										
									
									
								</div>
							</div>
							<div class="todo-tasklist-devider">
							</div>
							<div class="col-md-7 col-sm-8">
								<div class="scroller" style="max-height: 600px;" data-always-visible="0" data-rail-visible="0" data-handle-color="#dae3e7">
                                    <div class="row">
                                    <div class="col-md-6">
                                    <!-- BEGIN WIDGET THUMB -->
                                    <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 " style="background-color: #44b6ae;padding: 5px;color: wheat;">
                                        <h4 class="widget-thumb-heading">Complains</h4>
                                        <span class="widget-thumb-subtitle" style="font-size:10px">(on Merchant till Date)</span>
                                        <div class="widget-thumb-wrap">
                                            <div class="widget-thumb-body" >
                                                
                                                <span class="widget-thumb-body-stat" style="font-size:35px;padding:5px;" data-counter="counterup" data-value="7,644">{{totalComplaints}}</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END WIDGET THUMB -->
                                </div>
                                        <div class="col-md-6">
                                    <!-- BEGIN WIDGET THUMB -->
                                    <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 " style="background-color: #44b6ae;padding: 5px;color: wheat;">
                                        <h4 class="widget-thumb-heading">Audits </h4>
                                        <span class="widget-thumb-subtitle" style="font-size:10px">(on Merchant this year)</span>
                                        <div class="widget-thumb-wrap">
                                            <div class="widget-thumb-body">
                                                <span class="widget-thumb-body-stat" style="font-size:35px;padding:5px;" data-counter="counterup" data-value="7,644">0</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END WIDGET THUMB -->
                                </div>
                                    
                                    </div>
									<form action="#" class="form-horizontal">
										<!-- TASK HEAD -->
										<div class="form">
											<div class="form-group">
												<div class="col-md-8 col-sm-8">
													<div class="todo-taskbody-user">
														<img class="todo-userpic pull-left" src="./assets/admin/layout/img/avatar6.jpg" width="50px" height="50px">
														<span class="todo-username pull-left">Auditor , Margao</span>
														<button type="button" class="todo-username-btn btn btn-circle btn-default btn-xs">&nbsp;edit&nbsp;</button>
													</div>
												</div>
												<div class="col-md-4 col-sm-4">
													<div class="todo-taskbody-date pull-right">
														<button type="button" class="todo-username-btn btn btn-circle btn-default btn-xs">&nbsp; Complete &nbsp;</button>
													</div>
												</div>
											</div>
											<!-- END TASK HEAD -->
											<!-- TASK TITLE -->
											<div class="form-group">
												<div class="col-md-12">
													<input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Resolution Title">
												</div>
											</div>
											<!-- TASK DESC -->
											<div class="form-group">
												<div class="col-md-12">
													<textarea class="form-control todo-taskbody-taskdesc" rows="8" placeholder="Resolution Description..."></textarea>
												</div>
											</div>
											<!-- END TASK DESC -->
											<!-- TASK DUE DATE -->
											<div class="form-group">
												<div class="col-md-12">
													<div class="input-icon">
														<i class="fa fa-calendar"></i>
														<input type="text" class="form-control todo-taskbody-due" placeholder="Due Date...">
													</div>
												</div>
											</div>
											<!-- TASK TAGS -->
											<div class="form-group">
												<div class="col-md-12">
													<input type="text" class="form-control todo-taskbody-tags" placeholder="Tags..." value="Pending, Requested">
												</div>
											</div>
											<!-- TASK TAGS -->
											<div class="form-actions right todo-form-actions">
												<button class="btn btn-circle btn-sm green-haze">Save Changes</button>
												<button class="btn btn-circle btn-sm btn-default">Cancel</button>
											</div>
										</div>
										<div class="tabbable-line">
											<ul class="nav nav-tabs ">
												<li class="active">
													<a href="#" data-target="#tab_1" data-toggle="tab">
													Comments </a>
												</li>
												<li>
													<a href="#" data-target="#tab_2" data-toggle="tab">
													History </a>
												</li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane active" id="tab_1">
													<!-- TASK COMMENTS -->
													<div class="form-group">
														<div class="col-md-12">
															<ul class="media-list">
																<li class="media">
																	<a class="pull-left" href="#">
																	<img class="todo-userpic" src="./assets/admin/layout/img/avatar8.jpg" width="27px" height="27px">
																	</a>
																	<div class="media-body todo-comment">
																		<button type="button" class="todo-comment-btn btn btn-circle btn-default btn-xs">&nbsp; Reply &nbsp;</button>
																		<p class="todo-comment-head">
																			<span class="todo-comment-username">Christina Aguilera</span> &nbsp; <span class="todo-comment-date">17 Sep 2014 at 2:05pm</span>
																		</p>
																		<p class="todo-text-color">
																			Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
																		</p>
																		<!-- Nested media object -->
																		<div class="media">
																			<a class="pull-left" href="#">
																			<img class="todo-userpic" src="./assets/admin/layout/img/avatar4.jpg" width="27px" height="27px">
																			</a>
																			<div class="media-body">
																				<p class="todo-comment-head">
																					<span class="todo-comment-username">Carles Puyol</span> &nbsp; <span class="todo-comment-date">17 Sep 2014 at 4:30pm</span>
																				</p>
																				<p class="todo-text-color">
																					Thanks so much my dear!
																				</p>
																			</div>
																		</div>
																	</div>
																</li>
																<li class="media">
																	<a class="pull-left" href="#">
																	<img class="todo-userpic" src="./assets/admin/layout/img/avatar5.jpg" width="27px" height="27px">
																	</a>
																	<div class="media-body todo-comment">
																		<button type="button" class="todo-comment-btn btn btn-circle btn-default btn-xs">&nbsp; Reply &nbsp;</button>
																		<p class="todo-comment-head">
																			<span class="todo-comment-username">Andres Iniesta</span> &nbsp; <span class="todo-comment-date">18 Sep 2014 at 9:22am</span>
																		</p>
																		<p class="todo-text-color">
																			Cras sit amet nibh libero, in gravida nulla. Scelerisque ante sollicitudin commodo Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. <br>
																		</p>
																	</div>
																</li>
																<li class="media">
																	<a class="pull-left" href="#">
																	<img class="todo-userpic" src="./assets/admin/layout/img/avatar6.jpg" width="27px" height="27px">
																	</a>
																	<div class="media-body todo-comment">
																		<button type="button" class="todo-comment-btn btn btn-circle btn-default btn-xs">&nbsp; Reply &nbsp;</button>
																		<p class="todo-comment-head">
																			<span class="todo-comment-username">Olivia Wilde</span> &nbsp; <span class="todo-comment-date">18 Sep 2014 at 11:50am</span>
																		</p>
																		<p class="todo-text-color">
																			Cras sit amet nibh libero, in gravida nulla. Scelerisque ante sollicitudin commodo Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. <br>
																		</p>
																	</div>
																</li>
															</ul>
														</div>
													</div>
													<!-- END TASK COMMENTS -->
													<!-- TASK COMMENT FORM -->
													<div class="form-group">
														<div class="col-md-12">
															<ul class="media-list">
																<li class="media">
																	<img class="todo-userpic pull-left" src="./assets/admin/layout/img/avatar4.jpg" width="27px" height="27px">
																	<div class="media-body">
																		<textarea class="form-control todo-taskbody-taskdesc" rows="4" placeholder="Type comment..."></textarea>
																	</div>
																</li>
															</ul>
															<button type="button" class="pull-right btn btn-sm btn-circle green-haze"> &nbsp; Submit &nbsp; </button>
														</div>
													</div>
													<!-- END TASK COMMENT FORM -->
												</div>
												<div class="tab-pane" id="tab_2">
													<ul class="todo-task-history">
														<li>
															<div class="todo-task-history-date">
																20 Jun, 2014 at 11:35am
															</div>
															<div class="todo-task-history-desc">
																Task created
															</div>
														</li>
														<li>
															<div class="todo-task-history-date">
																21 Jun, 2014 at 10:35pm
															</div>
															<div class="todo-task-history-desc">
																Task category status changed to "Top Priority"
															</div>
														</li>
														<li>
															<div class="todo-task-history-date">
																22 Jun, 2014 at 11:35am
															</div>
															<div class="todo-task-history-desc">
																Task owner changed to "Nick Larson"
															</div>
														</li>
														<li>
															<div class="todo-task-history-date">
																30 Jun, 2014 at 8:09am
															</div>
															<div class="todo-task-history-desc">
																Task completed by "Nick Larson"
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END TODO CONTENT -->
		</div>
	</div>
	<!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTENT-->

<script>
	Todo.init(); // init todo page
</script>